// Переменные sass

// Цвета

$background_color: #ffffff;
$font_color: #000000;
$font_color--light: #ffffff;
$border_color: #979797;
$main_color: #63c556;
$warning_color: #f44336;

// Шрифты

$main_font: 400 18px/21.09px "Roboto";
$mini_font: 400 14px/16.41px "Roboto";

// Тени

$basic_shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
